<!-- app.component.html -->

<header>
    <h1>Life Insurance Corporation</h1>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/policy" routerLinkActive="active">Policy</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>
